<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    {{- with .OutputFormats.Get "rss" }}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{- end }}
    <script>
      document.documentElement.setAttribute(
        'data-theme',
        window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      );
    </script>
    {{ $css := resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  </head>
  <body class="min-h-screen min-w-screen h-full w-full flex items-start justify-center bg-base-200">
    <main class="card card-bordered card-normal w-full max-w-[800px] mx-auto p-6 bg-base-100">
      <nav>
        <ul>
          <li><a href="/">Home</a></li><!--
          --><li><a href="/updates/">Updates</a></li><!--
          --><li><a href="https://github.com/gem-coop/">GitHub</a></li>
        </ul>
      </nav>

      {{ block "main" . }}
        This will be replaced with content from the
        corresponding "define" action found in the template
        to which this base template is applied.
      {{ end }}
    </main>
  </body>
</html>
