{{ define "main" }}
<div class="min-h-screen min-w-screen h-full w-full flex items-center justify-center bg-base-200">
  <div class="card card-bordered card-normal w-full max-w-[800px] mx-auto p-6 bg-base-100">
    <div class="grid gap-4">
      <div>
        <h3 class="card-title text-2xl">{{ .Site.Title }}</h3>

        {{ .Content }}
      </div>

      <hr />

      <form
        action="https://buttondown.com/api/emails/embed-subscribe/gem-coop"
        method="post"
        class="grid gap-2"
        >
        <label for="email" class="label">
          <span class="label-text">join the newsletter</span>
        </label>
        <input
          class="input input-bordered w-full"
          id="email"
          name="email"
          type="email"
          placeholder="me@example.com"
          required
          />
        <div class="card-actions">
          <button class="btn btn-primary w-full" type="submit">
            Subscribe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
