<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }} - Coming Soon</title>
    <script>
      document.documentElement.setAttribute(
        'data-theme',
        window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      );
    </script>
    {{ $css := resources.Get "css/main.css" | css.PostCSS }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  </head>
  <body class="min-h-screen flex items-center justify-center bg-base-200">
    <div class="card card-bordered card-normal w-full max-w-sm mx-auto p-6 bg-base-100">
      <form
        action="https://buttondown.com/api/emails/embed-subscribe/gem-coop"
        method="post"
      >
        <div class="grid gap-4">
          <div>
            <h3 class="card-title text-2xl">{{ .Site.Title }}</h3>
            {{ .Content }}
          </div>

          <div class="grid gap-2">
            <label for="email" class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              class="input input-bordered w-full"
              id="email"
              name="email"
              type="email"
              placeholder="me@example.com"
              required
            />
          </div>

          <div class="card-actions">
            <button class="btn btn-primary w-full" type="submit">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
